.no-margin {
	margin: 0px;
	padding: 0px;
}

.game-bg {
	background-color: #fff;
}

.game-bg:focus {
	background-color: #fff;
}

.round-tl {
	border-top-left-radius: 100px;
}

.round-tr {
	border-top-right-radius: 100px;
}

.round-br {
	border-bottom-right-radius: 100px;
}

.round-bl {
	border-bottom-left-radius: 100px;
}

.border-top {
	border-top: 5px solid;
}

.border-bottom {
	border-bottom: 5px solid;
}

.border-left {
	border-left: 5px solid;
}

.border-right {
	border-right: 5px solid;
}
