<!DOCTYPE>
<html ng-app="ClsApp">
	<head>
		<title> Clear Screen </title>

		{% load staticfiles %}

		<!-- AngularJS -->
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.28/angular.min.js"></script>

		<!-- JQuery -->
		<script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
		<script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>

		<!-- Zurb Foundation -->
		<script type="text/javascript" src="{% static 'foundation/js/foundation.min.js' %}"></script>
		<link rel="stylesheet" type="text/css" href="{% static 'foundation/css/foundation.min.css' %}">

		<!-- Custom CSS/JS -->
		<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">

		{% block css.js %}
		{% endblock %}
	</head>
	<body>
		{% block content %}
		{% endblock %}
	</body>
</html>
