{% extends "base.html" %}

{% block css.js %}
	{% load staticfiles %}
	<script type="text/javascript" src="{% static 'js/cls.js' %}"></script>
{% endblock %}

{% block content %}
	<div ng-controller="GameCtrl as Game">
		<div class="row">
			<div class="small-6 columns"> <h1> Hello {{ user }} </h1> </div>
			<div class="small-6 columns">
				<h1> Stats </h1>
				<ul>
					<li> Level: {[ Game.level ]} </li>
					<li> Length: {[ Game.length ]} </li>
					<li> Width: {[ Game.width ]} </li>
					<li> Clicks: {[ Game.clicksLength ]} </li>
				</ul>
			</div>
		</div>
		<div class="row">
			<button class="small-12 button large expand" ng-hide="Game.grid" ng-click="Game.initialize()">
				Play!
			</button>
		</div>
		<div class="row" ng-repeat="row in Game.grid" ng-init="parentFirst = $first; parentLast = $last">
			<div class="small-1 columns no-margin game-bg" ng-repeat="column in row" ng-class="{'border-left': $first, 'border-right': $last, 'border-top': parentFirst, 'border-bottom': parentLast}" ng-mouseenter="column.over = true" ng-mouseleave="column.over = false" ng-click="Game.activate(column.x, column.y); column.over = false">
				<button class="button large expand no-margin" ng-class="Game.classOf(column)"> &nbsp; </button>
			</div>
			<div class="small-1 columns" ng-repeat="empty in Game.range(12-row.length) track by $index">
			</div>
		</div>
	</div>
{% endblock %}
