<!DOCTYPE>
<html>
	<head>
		<title> Clear Screen </title>
		<link rel="stylesheet" href="http://cdn.foundation5.zurb.com/foundation.css">
		<script type="text/javascript" src="http://cdn.foundation5.zurb.com/foundation.js"></script>
	</head>
	<body class="container">
		<center>
			<h1> Clear Screen </h1>
			<ul class="button-group radius">
				<li><a href="user" class="button"> Play as User </a></li>
				<li><a href="guest" class="button"> Play as Guest </a></li>
			</ul>
		</center>
	</body>
</html>
